<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>

     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <style>
        .container{
          
            height: 40%;
            width: 50%;
           border: 4px solid;
background-color: rgb(150, 165, 240);
border-radius: 20px 45px;
        }
        
    
    

    </style>
    
</head>
<body>
    <div class="container">
    <h1 class="text-center mt-5">Register Here</h1><hr><br>
    <form action="/register-captcha" method="post">
        <div class="row">
            <div class="col">
                Enter Your Full Name : <input type="text" name="fname"class="form-control" placeholder="Enter Full Name" /><br /><br>
            </div>
            <div class="col">
                Date Of Birth : <input type="date" name="dob"class="form-control" placeholder="Enter Date of Birth" /><br /><br>

            </div>
        </div>
        <div class="row">
        <div class="col">
        Enetr Your City : <input type="text" name="city"class="form-control" placeholder="Enter City" /><br /><br>
            
        </div>
       
        <div class="col">
            Enter Your Phone Number : <input type="text"class="form-control" name="phone" placeholder="Enter Phone Number" /><br /><br>

        </div>
    </div>
    <div class="row">

        <div class="col">
            Enter Your Email : <input type="text" name="mail"class="form-control" placeholder="Enter Email" /><br /><br>

        </div>
       
        <div class="col">
            Create Your Password : <input type="password"class="form-control" name="password" placeholder="Enter Password" />
        </div>
    </div>
    <div class="row">
        <div class="col-4 offset-4">
            <img src="/a.gif" alt="captcha"/> <br /><br>
            Captcha  : <input type="text" name="cap"class="form-control" placeholder="Enter Captcha Code " />
        </div>

    </div>
       <div class="row">
        <div class="col text-center">
            <input class="btn  btn-warning mt-3 mb-5 w-50" type="submit" value="submit"class="form-control" name="submit" />

        </div>
       </div>
       

        
       
        
    </form>
    
    </div>

</body>
</html>